<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{{ app.meta.title }}{% endblock %}</title>
        
        <meta name="description" content="{{ app.meta.description }}">
        <meta name="keywords" content="{{ app.meta.keywords }}" />
        
{#        <link rel="icon" type="image/x-icon" href="http://gbizzozero.com/favicon.ico">#}
        <!--  CSS  RESOURECES         -->
        <link type="text/css" rel="stylesheet" href="{{ asset('components/bootstrap/dist/css/bootstrap.min.css') }}" />
        <!--  JS RESOURECES           -->
        <script type="text/javascript" src="{{ asset('components/jquery/dist/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        {% block otherComponents %}{% endblock %}
        <script type="text/javascript" src="{{ asset('resources/js/images.js') }}"></script>
        <!--  CASCADING STYLE SHEETS  -->
        <link type="text/css" rel="stylesheet" href="{{ asset('resources/css/style.css') }}" />
        
    </head>
    <body>
        
        <!------------------------------>
        <!--       HEADER BLOCK       -->
        <!------------------------------>
        <header>
            <div class="header ">
                <div class="content-width">
                    <a class="logo" href="{{ url('/') }}">
                        <img src="{{ asset('resources/img/logo-header.png') }}">
                    </a>
                    <div class="left-side">
                        For specific orders or any machine <br/>
                        enquiry, please write to us below <br/>
                        or send an email directly to :<br/>
                        <br/>
                        <a href="mailto:{{ app.email }}">
                            {{ app.email }}
                        </a>
                    </div>
                    <div class="right-side">
                        {{ app.address|raw }}
                        <br/><br/>
                        <span class="font18">
                            <b>{{ app.phone|raw }}</b>
                        </span>
                    </div>
                    <div class="header-social">
                        <a target="_blank" href="{{ app.social.facebook.url }}" class="facebook"></a>
                        <a target="_blank" href="{{ app.social.twitter.url }}" class="twitter"></a>
                        <a target="_blank" href="{{ app.social.linkedin.url }}" class="linkedin"></a>
                    </div>
                </div>
            </div>
        </header>
        
        <nav>
            <div class="nav">
                <div class="back">
                    <span class="left-border"></span>
                    <a href="{{ url('/') }}" class="{{ moduleName == 'home' ? 'active' : '' }}">
                        <span>HOME</span>
                    </a>
                    <a href="{{ url('/macchine') }}" class="{{ moduleName == 'macchine' ? 'active' : '' }}">
                        <span>MACCHINE</span>
                    </a>
                    <a href="{{ url('/aboutus') }}" class="{{ moduleName == 'aboutus' ? 'active' : '' }}">
                        <span>ABOUT US</span>
                    </a>
                    <a href="{{ url('/contacts') }}" class="{{ moduleName == 'contacts' ? 'active' : '' }}">
                        <span>CONTACTS</span>
                    </a>
                    <span class="right-border"></span>
                </div>
            </div>
        </nav>
        
        <div class="content">
            <!------------------------------>
            <!--      CONTENT BLOCK       -->
            <!------------------------------>
            <div class="content-width">
                {% block content %}{% endblock %}
            
                <!------------------------------>
                <!--           ASIDE          -->
                <!------------------------------>
                {% block aside %}{% endblock %}
            </div>
            <div class="clear"></div>
        </div>
        
        <!------------------------------>
        <!--       FOOTER BLOCK       -->
        <!------------------------------>
        <div class="footer-padding">
            <footer>
                <div class="footer">
                    <div class="back">
                        {% include 'frontend.footer' %}
                    </div>
                </div>
            </footer>
        </div>
        
        {% block scripts %}{% endblock %}
        
    </body>
</html>
