<div class="content-width position-relative">
    <img src="{{ asset('resources/img/footer-logo.png') }}" class="logo" />
    <div class="footer-nav">
        <a href="{{ url('/') }}" class="{{ moduleName == 'home' ? 'active' : '' }}">
            <span>HOME</span>
        </a> |
        <a href="{{ url('/macchine') }}" class="{{ moduleName == 'macchine' ? 'active' : '' }}">
            <span>MACCHINE</span>
        </a> |
        <a href="{{ url('/aboutus') }}" class="{{ moduleName == 'aboutus' ? 'active' : '' }}">
            <span>ABOUT US</span>
        </a> |
        <a href="{{ url('/contacts') }}" class="{{ moduleName == 'contacts' ? 'active' : '' }}">
            <span>CONTACTS</span>
        </a>
    </div>
    <div class="footer-address">
        {{ app.address|raw }}
    </div>
    <div class="footer-contacts">
        {{ app.phone|raw }}
    </div>
</div>
<div class="copy">
    &copy; {{ "now"|date("Y") }}, {{ app.name }} All Rights Reserved.
</div>