{% if macchine|length > 5 %}
    <div class="slik-carusel">
        
        {% for item in macchine %}
            <div class="carusel-macchine">
                <div class="carusel-img">
                    {% for img in item.images %}
                        {% if loop.first %}
                            <img src="{{ asset(img) }}"  data-toggle="modal" data-target="#macchine{{ item.id }}" />
                        {% endif %}
                    {% endfor %}
                    <div class="carusel-description">
                        <div class="carusel-description-ellipsis">
                            {{ item.name }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="clear"></div>
{% endif %}