
<div> {{ app.name }} </div>
<br/><br/>
<b>From:</b> {{ form.name }}
<br/><br/>
<b>Email:</b> {{ form.email }}
<br/><br/>
<b>Subject:</b> {{ form.subject }}
<br/><br/>
<b>Message:</b> {{ form.message }}
<br/><br/>