<!DOCTYPE html>
<html>
    <head>
        <title>Admin {% block title %}{{ app.meta.title }}{% endblock %}</title>
        <meta name="csrf-token" content="{{ csrf_token() }}">
        <meta name="description" content="{{ app.meta.description }}">
        <meta name="keywords" content="{{ app.meta.keywords }}" />
        <link type="text/css" rel="stylesheet" href="{{ asset('components/bootstrap/dist/css/bootstrap.min.css') }}" />
        <!--  JS RESOURECES           -->
        <script type="text/javascript" src="{{ asset('components/jquery/dist/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    </head>
    <body>
        
        <div class="content">
            {% block content %}{% endblock %}
        </div>
        
    </body>
</html>
