{% extends "admin.base" %}
    
    
    
{% block content %}
    
    <style>
        input,
        select,
        textarea{
            display: block;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 100%;
            max-width: 100%;
            border: 1px solid #cccccc;
            padding: 4px;
            height: 25px;
        }
        input[type="file"]{
            border: 0px;
        }
        input:focus,
        select:focus,
        textarea:focus{
            outline: none;
            border-color: #777777;
        }
        
        body{
            font-family: 'Tahoma';
            font-size: 14px;
            color: #555;
        }
        .item{
            display: block;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            position: relative;
            border-bottom: 1px solid #cccccc;
            padding: 20px;
            background: #fff;
        }
        .items .item:last-child{
            border-bottom: 0px solid #cccccc;
            margin: 0;
        }
        .icon{
            display: block;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            position: absolute;
            opacity: .5;
            width: 19px;
            height: 18px;
            background: url('{{ url('resources/img/admin-icons.png') }}') 0 0 no-repeat;
            z-index: 100;
            cursor: pointer;
        }
        .icon:hover{
            opacity: 1;
        }
        .icon.edit{
            right: 10px;
            top: 35px;
        }
        .icon.remove{
            right: 10px;
            top: 10px;
            background-position: -26px 0;
        }
    </style>
    
    
    <div style="width: 1230px;">
        <form action="{{ url('admin/macchine/add') }}"
              method="POST" 
              enctype="multipart/form-data"
              style="width: 350px; margin: 10px; padding: 30px; border: 1px solid #ddd; float: left; background: #f8f8f8; float: left;">
            <div style="text-align: center; font-size: 18px;"><b>Add Macchine</b></div>
            
            {% if error %}<div style="color: #ad2121; text-align: center;">{{ error }}</div>{% endif %}
            <input type="hidden" name="_token" value="{{ csrf_token() }}">
            <br/>
            <div><b>Macchine Name</b></div>
            <input type="text" name="name"  />
            <br/>
            <div style="width:118px; float: left; margin-right: 20px;">
                <b>Year</b>
                <select name="year">
                    <option value="" selected></option>
                    {% for year in 1980..2016 %}
                        <option value="{{ year }}" >{{ year }}</option>
                    {% endfor %}
                </select>
            </div>
            <div style="width:150px; float: left;">
                <b>Type</b>
                <select name="type">
                    <option value="" selected></option>
                    <option value="old">Old</option>
                    <option value="new">New</option>
                </select>
            </div>
            <div style="clear: both;"><br/></div>
            <div style="width:72px; float: left; margin-right: 5px;">
                <b>Currency</b>
                <select name="currency">
                    <option value="" selected></option>
                    <option value="&euro;">&euro;</option>
                    <option value="$">$</option>
                </select>
            </div>
            <div style="width:210px; float: left; margin-right: 0px;">
                <b>Price</b>
                <input type="text" name="price" />
            </div>
            <div style="clear: both;"><br/></div>
            <div><b>Details</b></div>
            <textarea name="description" placeholder="Details" style="min-height: 200px;"></textarea>
            <br/>
            <div><b>Upload fotos</b></div>
            <input class="fileInputTemplate" type="hidden" name="template"  />
            <div class="files"></div>
            <input type="button" value="+" class="addFile"
                   style="width: 25px; height: 25px; margin: 10px 0 0 0; background: #ffffff; cursor: pointer;
                            border-radius: 4px 4px 4px 4px;
                            -moz-border-radius: 4px 4px 4px 4px;
                            -webkit-border-radius: 4px 4px 4px 4px;
                            border: 1px solid #cccccc;"/>
            <hr/>
            <input type="submit" 
                   value="Add" 
                   style=" display:block; 
                           width: 100px;  
                           color: #fff; 
                           background: #7751d8; 
                           font-size: 14px; 
                           padding: 10px 10px 25px 10px;
                           border: 0px;
                           vertical-align: middle;
                           border-radius: 4px 4px 4px 4px;
                            -moz-border-radius: 4px 4px 4px 4px;
                            -webkit-border-radius: 4px 4px 4px 4px;
                            border: 0px solid #000000;
                            cursor: pointer;
                            font-weight: bold;" />
        </form>

            
        <div class="items" style="width: 840px; margin: 10px; padding: 20px; border: 1px solid #ddd; background: #f8f8f8; float: right;">
            
            <div style="text-align: center; font-size: 18px;"><b>Macchine List</b></div><br/>
            
            {% for item in macchine %}
                <div class="item">
                    {% for img in item.images %}
                        {% if loop.first %}
                            <div style="width: 70px; overflow: hidden; float: left; height: 50px; border: 1px solid #cccccc; margin-right: 20px; background: #ffffff; cursor: pointer;">
                                <img src="{{ asset(img) }}"
                                     style="max-width: 150%; min-height: 100%;">
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div style="font-size: 14px; font-weight: bold; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 70%; border-bottom: 1px dashed #cccccc; padding: 0 0 8px 0; margin: 0 0 8px 0;">
                        {{ item.name }}
                    </div>
                    <span><b>Price:</b> {{ item.price }}{{ item.currency }}</span> | 
                    <span><b>Year:</b> {{ item.year }}</span> | 
                    <span><b>Type:</b> {{ item.type }}</span> |
                    <span><b>Images:</b> {{ item.images|length }}</span>
                    <span class="icon edit" data-toggle="modal" data-target="#macchine{{ item.id }}"></span>
                    <a href="{{ url('admin/macchine/'~item.id~'/remove') }}" class="icon remove"></a>
                </div>
            {% endfor %}
                      
                         
        </div>          
        <div style="clear: both;"></div>
    </div>
           
    {% for item in macchine %} 
        <div class="modal fade" id="macchine{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="macchine{{ item.id }}abel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="macchine{{ item.id }}Label">
                            <div style="clear: both;"></div>
                            <input type="text" name="text" value="{{ item.name }}" style=" display:block; text-align: center; margin: 10px 0 10px 0; padding: 25px; border: 0px; width: 500px; margin: 0 auto;" />
                        </h4>
                    </div>
                    <div class="modal-body">
                        
                        <div style="text-align: center;">UNDER CONSTRUCTION</div>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    
    <script>
        var addFile = function(){
            var clon = $('.fileInputTemplate').clone(true)
                                          .removeClass('fileInputTemplate')
                                          .attr('name', 'photo[]')
                                          .attr('type', 'file');
            clon.appendTo('.files');
        };
        $('.addFile').on('click', function(){
            addFile();
        });
    </script>
    
{% endblock %}