
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700,800&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Anonymous+Pro:400,700&subset=latin,cyrillic-ext);

/* basic */

*{
    outline: none;
}
body{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    color: #555555;
    font-family: 'Open Sans', sans-serif;
    background: url(../img/back.png) center 0 repeat #ffffff;
    margin: 0;
    padding: 0;
}
.content-width{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 1200px;
    margin: 0 auto;
}
.header{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: rgba(0,0,0,0.35);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.35) 0%, rgba(0,0,0,0.08) 78%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.35)), color-stop(78%, rgba(0,0,0,0.08)), color-stop(100%, rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.35) 0%, rgba(0,0,0,0.08) 78%, rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.35) 0%, rgba(0,0,0,0.08) 78%, rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.35) 0%, rgba(0,0,0,0.08) 78%, rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.35) 0%, rgba(0,0,0,0.08) 78%, rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
    width: 100%;
    height: 248px;
    padding:  55px 0 0 0;
    position: relative;
}
.header .content-width{
    position: relative;
}
.logo img{
    position: absolute;
    left: 50%;
    top: 0;
    margin: 0 0 0 -200px;
}
.left-side{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    color: #999999;
    font-style: italic;
    text-align: left;
    font-size: 14px;
}
.left-side a{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #ffffff;
    text-decoration: none;
    font-style: normal;
}
.right-side{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 0;
    color: #999999;
    font-style: italic;
    text-align: right;
    font-size: 14px;
}
.font18{
    font-size: 18px;
}
.header-social{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 100px;
    width: 200px;
    margin: 0 0 0 -100px;
}
.header-social a{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    opacity: 0.4;
    outline: none;
    width: 46px;
    height: 46px;
    background: url('../img/social.png') 0 0 no-repeat;
    top: 0;
}
.header-social a:hover{
    opacity: 1;
}

.header-social .facebook{
    left: 0;
    background-position: 0 0;
}
.header-social .twitter{
    left: 50%;
    margin: 0 0 0 -23px;
    background-position: -137px 0;
}
.header-social .linkedin{
    right: 0;
    background-position: -68px 0;
}
.nav{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 43px;
    width: 100%;
    background: url('../img/nav/nav.png') 0 0 repeat transparent;
    text-align: center;
}
.nav .back{
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: url(../img/back.png) 0 0 repeat #ffffff;
}
.nav .back .left-border,
.nav .back .right-border{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 43px;
    width: 2px;
}
.nav .back .left-border{
    float: left;
    background: url('../img/nav/border-left.png') 0 0 no-repeat transparent;
    margin: 0 1px 0 0;
}
.nav .back .right-border{
    float: left;
    background: url('../img/nav/border-right.png') 0 0 no-repeat transparent;
    margin: 0 0 0 1px;
}
.nav a{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 43px;
    width: 128px;
    margin: 0 1px 0 1px;
    background: url('../img/nav/button.png') 0 0 repeat transparent;
    float: left;
    font-size: 14px;
    padding: 15px 0 0 0;
    font-weight: bold;
    text-decoration: none;
    color: #8b8b8b;
    opacity: 0.7;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.nav a:hover,
.nav a.active{
    opacity: 1;
    color: #f4f4f4;
}
.board{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 2px;
}
.board .item{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    height: 250px;
    padding: 10px;
    margin: 0 0 20px 0;
    position: relative;
    float: left;
}
.board .item .border{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 4px;
    background-color: rgba(0,0,0,0.25);
}
.board .item .border .images{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 242px;
    text-align: center;
    position: relative;
    overflow: hidden;
    opacity: 0.5;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.board .item .border .images:hover{
    opacity: 1;
}
.board .item .border .images .image{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 168px;
    overflow: hidden;
}
.board .item .border .images .image img{
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 100%;
    max-height: 120%;
    max-width: 130%;
    min-width: 100%;
    margin: 0 auto;
    opacity: .7;
    cursor: pointer;
}
.board .item .border .images:hover .image img{
    opacity: 1;
}
.board .item .description{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(0,0,0,0.35);
    padding: 17px 15px 10px 15px;
}
.board .item .description span {
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 38px;
    font-size: 16px;
    color: #ffffff;
    line-height: 18px;
    text-decoration: none;
    font-weight: bold;
}
.board .item .description:hover,
.board .item .description span:hover{
    text-decoration: none;
}
.footer-padding{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 115px;
    width: 100%;
}
.footer{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 135px;
    width: 100%;
    background: url(../img/back.png) 0 0 repeat #ffffff;
}
.footer .back{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 135px;
    width: 100%;
    background: url('../img/footer-back.png') 0 0 repeat transparent;
    margin: 70px 0 0 0;
}
.footer .logo{
    position: absolute;
    left: 0;
    top: 18px;
}
.footer .copy{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #222;
    width: 100%;
    height: 25px;
    font-size: 12px;
    padding: 4px 0 0 0;
    text-align: center;
    z-index: 1000;
}
.footer-nav{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 23px;
    right: 0;
    font-size: 14px;
    text-decoration: none;
}
.footer-nav a{
    color: #777777;
}
.footer-nav a:hover,
.footer-nav a.active{
    color: #cccccc;
    text-decoration: none;
}
.footer-address{
    position: absolute;
    line-height: 17px;
    font-size: 12px;
    color: #777777;
    left: 155px;
    top: 15px;
}
.footer-contacts{
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    top: 55px;
    right: 0px;
    color: #cccccc;
}
.intro{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    color: #888888;
    text-align: center;
    padding: 0 50px 20px 50px ;
}
h2,
h1{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 18px;
    color: #aaaaaa;
    text-align: center;
    font-weight: bold;
    padding: 35px 0 0 0;
}
h1{
    font-size: 24px;
}
.modal.macchine{
    background: rgba(0,0,0,.7);
}
.modal.macchine .modal-content {
    background: #222222;
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border: 1px solid #000000;
    -webkit-box-shadow: 0px 0px 25px 11px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 25px 11px rgba(0,0,0,.8);
    box-shadow: 0px 0px 25px 11px rgba(0,0,0,.8);
}
.modal.macchine .modal-header,
.modal.macchine .modal-footer{
    border-color: #000000;
    color: #777777;
    font-size: 16px;
    text-align: center;
    padding: 15px;
    padding-top: 35px;
    background: #1c1c1c;
    font-size: 18px;
    font-weight: bold;
}
.modal.macchine  .modal-header .close{
    position: absolute;
    right: 4px;
    top: 4px;
    height: 30px;
    width: 30px;
    overflow: hidden;
}
.modal.macchine  .modal-header .close span{
    color: #cccccc;
    text-shadow: none ;
    font-size: 36px;
}
.modal.macchine .modal-body .image{
    width: 100%;
    overflow: hidden;
    max-height: 1000px;
}
.modal.macchine .modal-body .image img{
    width: 100%;
    display: none;
}
.modal.macchine .modal-body .image img.active{
    display: block;
}

.modal.macchine .modal-body .next,
.modal.macchine .modal-body .previous{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    margin: -45px 0 0 0;
    background: url('../img/popup-arrows.png') 0 0 no-repeat;
    opacity: .7;
    width: 84px;
    height: 91px;
    cursor: pointer;
}
.modal.macchine .modal-body .next:hover,
.modal.macchine .modal-body .previous:hover{
    opacity: 1;
}
.modal.macchine .modal-body .next{
    background-position: -89px 0;
    right: 0;
}
.form{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 500px;
    margin: 0 auto;
    border: 0;
    padding: 10px;
}
.form input,
.form textarea{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #555555;
    background: #333333;
    font-size: 14px;
    margin: 0 0 15px 0;
    outline: none;
    color: #cccccc;
}
.form textarea{
    max-width: 100%;
    height: 300px;
}
.form input:focus,
.form textarea:focus{
    background: #222222;
    color: #ffffff;
}
.captcha{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 320px;
    position: relative;
}
.captcha input{
    width: 140px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.captcha .refrash{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    left: 145px;
    top: 0;
    width: 175px;
    height: 45px;
    border: 0px;
    background: url('../img/captcha-back.png') 0 0 no-repeat;
    z-index: 2;
    text-align: left;
}
.captcha .refrash span{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: none;
    color: #cccccc;
    font-weight: bold;
    font-size: 24px;
    position: absolute;
    left: 8px;
    top: 10px;
}
.captcha .refrash:hover span{
    color: #f8f8f8;
}
.captcha .captchaImageBack{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 135px;
    height: 42px;
    border: 0px solid #555555;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1
}
.captcha .captchaImageBack img{
    position: absolute;
    left: -14px;
    top: -3px;
}
span.label{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #aaaaaa;
    text-align: left;
    font-size: 14px;
}
.form .submitButton{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 42px;
    color: #aaaaaa;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border: 1px solid #555555;
    width: auto;
    background: #222222;
    padding: 0 30px;
    font-weight: bold;
    opacity: .8;
}
.form .submitButton:hover{
    opacity: 1;
    color: #ffffff;
}
.error-message{
    color: #f5b198;
    border-color: #f5b198;
}
.success{
    color: #b5cb84;
    border-color: #b5cb84;
}
.slik-carusel{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 240px;
    position: relative;
    padding: 28px 105px 0 105px;
    background: url('../img/carusel-back.png') center 3px no-repeat;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.slik-carusel .carusel-macchine{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 210px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.slik-carusel .slick-track .carusel-macchine .carusel-img img{
    max-width: 130%;
    max-width: 150%;
    min-width: 100%;
    min-height: 100%;
    cursor: pointer;
}
.slik-carusel .slick-track .carusel-macchine .carusel-img{
    overflow: hidden;
    position: relative;
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border: 15px solid transparent;
    height: 180px;
    opacity: .7;
}
.slik-carusel .slick-track .carusel-macchine.slick-active .carusel-img:hover{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 1;
}
.slik-carusel .slick-track .carusel-macchine.slick-active.slick-center .carusel-img{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border: 0px solid transparent;
    height: 180px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.55);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.55);
}
.slik-carusel .slick-arrow{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 7px;
    height: 224px;
    width: 100px;
    border: 0px;
    opacity: 0;
}
.slik-carusel .slick-arrow.slick-next{
    right: 0;
}
.slik-carusel .slick-arrow.slick-prev{
    left: 0;
}
.carusel-description{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,.7);
    width: 100%;
    height: 25%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #cccccc;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.carusel-description-ellipsis{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: bold;
    text-align: center;
    color: #eeeeee;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin: 10px;
}











a:focus,
a:active,
button:focus,
button:active{
    outline: none !important; 
}
.position-relative{
    position: relative;
}
.clear{
    clear: both;
}
.pull-right{
    float: right;
}



















