{% extends "frontend.base" %}

{% block content %}
    <br/>
    <div style="margin: 0 auto; width: 740px;">
        <h1>
            {{ app.name }}
        </h1>
        <p class="intro">
            <br/>
            La ditta {{ app.name }} è specializzata nella vendita di sistemi e 
            macchine per i settori asportazione truciolo e lavorazione lamiera, e 
            trattiamo sia macchine utensili nuove che usate.
        </p>

        <p class="intro">
            Siamo una nuova azienda, ma l’esperienza del nostro gruppo di agenti e 
            tecnici deriva da una solida tradizione tecnica con decenni di professione 
            e attività sul territorio per tutti i settori meccanici e metalmeccanici.
        </p>

        <p class="intro">
            Conosciamo il mercato; ci occupiamo di vendere ed assistere macchine 
            utensili per tutti i settori manifatturieri. Conosciamo il territorio 
            e le potenzialità delle sue realtà produttive. Conosciamo i clienti e 
            le loro esigenze; la disponibilità, la preparazione tecnica e l’esperienza 
            del nostro gruppo sono i nostri maggiori valori.
        </p>
        <br/>
    </div>
{% endblock %}


