{% extends "frontend.base" %}

{% block content %}
    <br/>
    <h2>
        Richiedi un'offerta
    </h2>
    <p class="intro">
        Con questo modulo è possibile richiedere un’offerta non impegnativa per 
        la fornitura di una macchina utensile nuova o usata. Richiediamo solo 
        alcuni minimi dati, essenziali per l’identificazione ed il successivo 
        invio di una risposta rapida alla richiesta.
    </p>
    <br/>
    <form class="form" action="{{ url('contacts') }}" method="POST">
        <input type="hidden" name="_token" value="{{ csrf_token() }}">
        <span class="label">Nama
            {% if validatorErrors.get('name')[0] %}
               : <span class="error-message">{{ validatorErrors.get('name')[0] }}</span>
            {% elseif validatorErrors%}
                <span class="glyphicon glyphicon-ok success" aria-hidden="true"></span>
            {% endif %}
        </span>
        <input type="text" name="name" value="{{ form.name }}" />
        <span class="label">Email
            {% if validatorErrors.get('email')[0] %}
               : <span class="error-message">{{ validatorErrors.get('email')[0] }}</span>
            {% elseif validatorErrors%}
                <span class="glyphicon glyphicon-ok success" aria-hidden="true"></span>
            {% endif %}
        </span>
        <input type="text" name="email" value="{{ form.email }}"/>
        <span class="label">Soggeto
            {% if validatorErrors.get('subject')[0] %}
               : <span class="error-message">{{ validatorErrors.get('subject')[0] }}</span>
            {% elseif validatorErrors%}
                <span class="glyphicon glyphicon-ok success" aria-hidden="true"></span>
            {% endif %}
        </span>
        <input type="text" name="subject" value="{{ form.subject }}"/>
        <span class="label">Messaggio
            {% if validatorErrors.get('message')[0] %}
               : <span class="error-message">{{ validatorErrors.get('message')[0] }}</span>
            {% elseif validatorErrors%}
                <span class="glyphicon glyphicon-ok success" aria-hidden="true"></span>
            {% endif %}
        </span>
        <textarea name="message">{{ form.message }}</textarea>
        <span class="label">Captcha
            {% if validatorErrors.get('captcha') %}
               : <span class="error-message">{{ validatorErrors.get('captcha')[0] }}</span>
            {% elseif validatorErrors%}
                <span class="glyphicon glyphicon-ok success" aria-hidden="true"></span>
            {% endif %}
        </span>
        <div class="captcha">
            <input type="text" name="captcha" />
            <button type="button" 
                    class="refrash" 
                    data-captha="{{url('/captcha')}}"
                    onClick="refrashCaptcha(this);"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
            <div class="captchaImageBack">
                <img class="captchaImage" src="{{ url('captcha') }}">
            </div>
        </div>
        <input class="submitButton pull-right" type="submit" value="Inviare!" />
    </form>
    <br/>
    
{% endblock %}
        
{% block scripts %}
    <script type="text/javascript" src="{{ asset('resources/js/captcha.js') }}"></script>
{% endblock %}