{% extends "frontend.base" %}

{% block otherComponents %}
    <link type="text/css" rel="stylesheet" href="{{ asset('components/slick-carousel/slick/slick.css') }}" />
    <script type="text/javascript" src="{{ asset('components/slick-carousel/slick/slick.min.js') }}"></script>
{% endblock %}

{% block content %}
    <br/>
    <br/>
    {% include 'frontend.components.carusel.slikcarusel' %}
    <h2>
        {{ app.name }} si occupa di commercio, rappresentanze, vendita di 
        Macchine Utensili , nuove ed usate.
    </h2>
    <p class="intro">
        La ditta nasce dall'esperienza dei suoi componenti nel campo della vendita 
        post-vendita e assistenza delle macchine utensili ed utensileria in genere 
        e spazia dal privato al piccolo artigiano alla grande industria. Il nostro 
        team di esperti è a completa disposizione del cliente per capirne i bisogni, 
        sviluppare un progetto mirato e funzionale, ricercare quindi il costruttore 
        più adatto alla realizzazione del macchinario desiderato.
    </p>
    <br/>
    {% include 'frontend.components.macchine.board' %}
    
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ asset('resources/js/slikCarusel.js') }}"></script>
{% endblock %}