<div class="board">
    {% for item in macchine %}
        <div class="item">
            <div class="border">
                <div class="images">
                    {% for img in item.images %}
                        {% if loop.first %}
                            <div class="image" data-toggle="modal" data-target="#macchine{{ item.id }}">
                                <img src="{{ asset(img) }}" />
                            </div>
                        {% endif %}
                    {% endfor %}
                    <a href="#" class="description" data-toggle="modal" data-target="#macchine{{ item.id }}">
                        <span>{{ item.name }}</span>
                    </a>
                </div>
            </div>
        </div>
        {% include 'frontend.components.popup.images' with { 'images' : item.images } %}
    {% endfor %}
</div>