{% extends "admin.base" %}

{% block content%}
    <form action="{{ url('admin/login') }}" 
          method="POST"
          style="width: 300px;
                 margin: 90px auto;
                 text-align: center;">
        <input type="hidden" name="_token" value="{{ csrf_token() }}">
        <div> {{ authError ? authError : 'Admin Panel' }}<br/><br/></div>
        <input type="text" name="login" placeholder="Login" value="{{ input.login }}"/><br/><br/>
        <input type="password" name="password" placeholder="Password" /><br/><br/>
        <input type="submit" value="Sign In" />
    </form>
{% endblock %}    
    
    
    
    
    
    
    
    
    
