
<div class="modal fade macchine modal-img-{{ item.id }} modal-img" id="macchine{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="macchine{{ item.id }}abel">
    <div class="modal-dialog modal-ml" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ item.name }}
            </div>
            <div class="modal-body">
                <div class="img-body position-relative">
                    <div class="image">
                        {% for img in item.images %}
                            <img src="{{  asset(img) }}" class="{{ loop.first ? 'active' : '' }}"/>
                        {% endfor %}
                    </div>
                    <div class="next" onClick="popupImg.next(this);"></div>
                    <div class="previous" onClick="popupImg.previous(this);"></div>
                </div>
            </div>
        </div>
    </div>
</div>